@import url('https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-orange.min.css');

/*===START: App ===*/
.app-content {
  background: #FAFAFA;
}

.app-drawer {
  padding: 30px 0 0 30px;
}

.app-drawer-link {
  display: block;
  padding: 10px 0;
  color: black;
}

.app-drawer-link-img {
  width: 46px;
  margin-right: 10px;
}

.app-drawer-link.is-active {
  font-weight: bold;
  color: rgb(255,171,64);
}

/*===END:  App ===*/
.component-page-header {
  padding: 40px 0px 0px 40px;
}

.component-page-name {
  font-size: 16px;
  font-weight: 500px;
}

.component-page-link {
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: 10px;
}

.component-page-link-icon {
  margin-right: 10px;
}

.space-evenly-center,
/* Components are wrapped */
.space-evenly-center-children > *:first-child {
  display: flex;
  justify-content: space-around;
  padding: 0 30%;
}

.snippet-demo {
  padding-top: 60px;
  padding-bottom: 40px;
}

.snippet-caption {
  padding-top: 15px;
  padding-bottom: 20px;
  background: white;
}

.snippet-code {
  background: #EBEBEB;
  /* Override user-agent */
  margin: 0;
  padding: 10px 20px;
}
